* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  background: url('img/background.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center; /* Untuk horizontal */
  align-items: center; /* Untuk vertikal */
}

.login {
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  width: 30rem;
  height: auto;
  display: flex;
  justify-content: center; /* Untuk horizontal */
  align-items: center; /* Untuk vertikal */
}

.login form {
  display: block;
  padding: 2rem 0;
  width: 20rem;
  position: relative;
}

.login form h1 {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.login form input {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 10px 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: #fff;
  font-size: 1.2rem;
}

.login form i {
  right: 20px;
  position: absolute;
  color: #fff;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -o-transform: translateY(25px);
}

.login form span {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.login form span input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

input::placeholder {
  color: #fff; /* Warna placeholder */
  opacity: 1; /* Opasitas (untuk memastikan warnanya terlihat jelas di semua browser) */
}

.login form span a {
  color: #fff;
  font-size: 1rem;
  align-items: center;
  display: flex;
  margin: 10px 0;
}

button {
  width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 0;
  /* margin-top: 2rem; */
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.login form p {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 300;
}

.login form p a {
  color: #fff;
  font-weight: bold;
}
